# Core modules
zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule utility

# Prompt
zmodule duration-info
zmodule git-info

# Completion
zmodule zsh-users/zsh-completions --fpath src

# Extras
#zmodule zsh-users/zsh-syntax-highlighting
zmodule catppuccin/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
zmodule completion
